@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html{
    background-color: #3C4C5F;
    background-image: url("https://i.pinimg.com/originals/fc/01/fc/fc01fcf41d53c4cab99e05c2dcaf848f.gif");
    background-size: 20em ;
    color: white;
}


