---
import Layout from '../layouts/Layout.astro';
import Project from '../components/project.astro';
import Button from '../components/Button.astro';
import Brand from '../components/brand.astro';
import "../style/scss/index.scss"

const allPosts = Object.values(import.meta.glob('./projects/*.md', { eager: true }));

---

<Layout Page="Home">
	<div id="home">
		<!-- <video autoplay loop src="/test.mp4"  width="" height="" id="vid"></video> -->
		 <div id="intro">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in consequat odio. Aenean bibendum malesuada turpis, at dapibus lacus elementum sed </p>
			<div id="buttons">
				<Button onClick='document.getElementById("games").scrollIntoView({behavior: "smooth"})'>Go to my Projects</Button>
				<Button href="https://github.com/AmyCur">Go to my GitHub</Button>
			</div>
		</div>
		<h1 id="games">My Games</h1>
		<div id="project-master">
			<div id="projects">
				{allPosts.map((post: any) => <Project Heading={post.frontmatter.title}, Image={post.frontmatter.image}, Link={post.url}/>)}
			</div>
		</div>		
		<div id="worked-with">
			<h1>Worked with</h1>
			<div id="brands">
				<Brand img="/iconika.png">Iconika</Brand>
				<Brand img="/tree2.avif">Other</Brand>
				<Brand img="/tree2.avif">Otherr</Brand>
			</div>
			
		</div>
		<div id="about-me">
			<h1>About Me</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in consequat odio. Aenean bibendum malesuada turpis, at dapibus lacus elementum sed Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in consequat odio. Aenean bibendum malesuada turpis, </p>
		</div>
	</div>
	
</Layout>