---
const {img, url="Brand-Page-Not-Implemented"} = Astro.props;
---

<a class="brand" href={url}>
    <img src={img} alt="">
    <p><slot /></p>
</div>

<style lang="text/scss">
    img{
        margin-left: 1vw;
        margin-right: 1vw;
   
    }

    @media screen and (max-width: 624px) {
        img{
            height: 5em;
            width: 5em;
        }
    }

    @media screen and (min-width: 625px) {
        img{
            height: 8em;
            width: 8em; 
        }
    }

    .brand{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: scale .1s ease;


        &:hover{
            scale: 1.05;
            cursor: pointer;
        }
    }
</style>