---
const {href, onClick} = Astro.props;
---

<a href={href}>
    <button onclick={onClick}><slot /></button>
</a>

<style lang="scss">
    @use "../style/scss/consts/consts";

    button{
        border-radius: .4em;
        border: solid 1px consts.$Blue;
        background-color: consts.$Lavender;
        transition: all .1s ease;
        color: consts.$Crust;


        &:hover{
            cursor: pointer;
            color: consts.$Mantle;
            scale: 1.1;
            background-color: consts.$Light-Lavender;
            
        }
    }
</style>