---
import "../style/scss/TopBar.scss"
const {Page="Page"} = Astro.props;
---

<div id="top-bar">
    <div id="modules">
        <div id="left-module">
            {Page} <a href="/"><button><i class="fa-solid fa-house"></i></button></a>
        </div>
        <div id="right-module">
            <!-- Should be bluesky logo but its a core for some reason -->
            <a href="/"><button id="bluesky"><i class="fa-brands fa-bluesky"></i></button></a>
            <a href="projects"><button id="linkedin"><i class="fa-brands fa-linkedin"></i></button></a>
            <a href="about-me"><button id="instagram"><i class="fa-brands fa-instagram"></i></button></a>
            <a href="about-me"><button id="tumblr"><i class="fa-brands fa-square-tumblr"></i></button></a>
        </div>
    </div>
</div>