$Rosewater: light-dark(#dc8a78, #f4dbd6);
$Flamingo: light-dark(#dd7878, #f0c6c6);
$Pink: light-dark(#ea76cb, #f5bde6);
$Mauve: light-dark(#8839ef, #c6a0f6);
$Red: light-dark(#d20f39, #ed8796);
$Maroon: light-dark(#e64553, #ee99a0);
$Peach: light-dark(#fe640b, #f5a97f);
$Yellow: light-dark(#df8e1d, #eed49f);
$Green: light-dark(#40a02b, #a6da95);
$Teal: light-dark(#179299, #8bd5ca);
$Sky: light-dark(#04a5e5, #91d7e3);
$Sapphire: light-dark(#209fb5, #7dc4e4);
$Blue: light-dark(#1e66f5, #8aadf4);
$Lavender: light-dark(#7287fd, #b7bdf8);
$Light-Lavender: light-dark(#c6cbff);
$Text: light-dark(#4c4f69, #cad3f5);
$Subtext1: light-dark(#5c5f77, #b8c0e0);
$Subtext0: light-dark(#6c6f85, #a5adcb);
$Overlay2: light-dark(#7c7f93, #939ab7);
$Overlay1: light-dark(#8c8fa1, #8087a2);
$Overlay0: light-dark(#9ca0b0, #6e738d);
$Surface2: light-dark(#acb0be, #5b6078);
$Surface1 : light-dark(#bcc0cc, #494d64);
$Surface0: light-dark(#ccd0da, #363a4f);
$Base: light-dark(#eff1f5, #24273a);
$Mantle: light-dark(#e6e9ef, #1e2030);
$Crust: light-dark(#dce0e8, #181926);

$background-colour: $Base;
$Top-Bar: light-dark(#b8beff,#161723);

:root{
    color-scheme: light dark;
    font-family: "DM Sans", sans-serif;
    color: $Text;
}

a{
    text-decoration: none;
    color: $Text;
}

.button, .link-button{
  
    background-color: #32302f;
    font-size: .77em;
    width: fit-content;
    padding: .6em;
    border-radius: .4em;
    transition: background-color .18s ease;

    &:hover{
        background-color: #585452;
    }

}
