---
import Layout from "./Layout.astro";
const {header} = Astro.props;
---

<Layout>
    <title>{header}</title>
    <div id="centre">
        <fieldset id="pages">
            <legend>Pages</legend>
            <a href="/" class="button">Home</a>
            <a href="#" class="button">About me</a>
            <a href="/my_games" class="button">My games</a>
            <a href="#" class="button">My games</a>
        </fieldset>
        <fieldset id="screen">
            <legend>{header}</legend>
            <p>
                <slot />
            </p>
        </fieldset>
    </div>
    
</Layout>

<style lang="scss">
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #centre{
        overflow-y: scroll;
    }

    @media only screen and (max-width: 784px) {
        #pages{
            height: 15vh;
            flex-direction: row;
            justify-content: space-evenly;

            a.button{
                font-size: 4vw;
            }
        }

        #centre{
            width: 70vw;
        }
    }

    @media only screen and (min-width: 785px) {
        #centre{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 65vw;
        }

        #pages{
            height: 50vh;
            width: 20em;

            flex-direction: column;
            justify-content: space-evenly;
            a.button{
                font-size: 1.8em;
            }
        }

        #screen{
           width: 100em;
        }
    }

    #pages,
    #screen{
        overflow: hidden;
        background-color: #2d3948aa;
        backdrop-filter: blur(3px);
        border: .2em solid white;
        border-radius: 1em;

        legend{
            font-size: 2em;
        }

        p{
            font-size: 1.3em;
        }

        margin: 1em;
    }

    #pages{
       
        display: flex;
        
        align-items: center;

        transition: width .3s ease, font-size .3s ease;

        a.button{
            display: flex;
            justify-content: center;
            align-items: center;

            margin: {
                left: 1vw;
                right: 1vw;
            };
            
            color: white;
            background-color: #384658;
            text-decoration: none;
            text-wrap:nowrap;

            border-radius: .5em;


            height: 3em;
            width: 80%;

            transition: background-color .1s ease, color .1s ease;
            
            &:hover{
                background-color: #405166;
                color: #D8B678;
            }
        }

    }

    #screen{
        height: 50vh;
        overflow-y: scroll;
        
        transition: height .2s ease, width .2s ease;
        
    }
</style>