---
import Layout from "./Layout.astro";
const {header} = Astro.props;
---

<Layout>
    <title>{header}</title>
    <div id="centre">
        <fieldset id="pages">
            <legend>Pages</legend>
            <a href="/" class="button">Home</a>
            <a href="#" class="button">About me</a>
            <a href="my_games" class="button">My games</a>
            <a href="#" class="button">My games</a>
        </fieldset>
        <fieldset id="screen">
            <legend>{header}</legend>
            <p>
                <slot />
            </p>
        </fieldset>
    </div>
    
</Layout>

<style lang="scss">
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #centre{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 65vw;
        overflow: hidden;
    }

    


    #pages,
    #screen{
        overflow: hidden;
        background-color: #2d3948aa;
        backdrop-filter: blur(3px);
        border: .2em solid white;
        border-radius: 1em;

        legend{
            font-size: 2em;
        }

        p{
            font-size: 1.3em;
        }

        margin: 1em;
    }

    #pages{
        height: 50em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;

        width: 20em;

        transition: width .3s ease, font-size .3s ease;

        a.button{
            display: flex;
            justify-content: center;
            align-items: center;
            
            color: white;
            text-decoration: none;
            text-wrap:nowrap;
            font-size: 1.8em;

            border-radius: 1em;

            overflow: hidden;

            height: 3em;
            width: 80%;

            transition: background-color .1s ease, color .1s ease;
            
            &:hover{
                background-color: #405166;
                color: #D8B678;
            }
        }

    }

    #screen{
        width: 80em;
        height: 50em;
        
        transition: height .2s ease, width .2s ease;
        
    }
</style>