// I still dont know why sometimes i have to use an scss file cos it wont colour links and i dont wanna get laughed at for asking

@use "./consts/consts";


a{
    &:link{
        text-decoration: none;
        color: consts.$Text;
    }
    

    &:visited{
        color: consts.$Text;	
    }
}

@media screen and (min-width: 585px) {
    #projects{
        flex-direction: row;
    }	
}

@media screen and (max-width: 584px) {
    #projects{
        align-items: center;
        flex-direction: column;

        #project{
            margin-top: 1em;
        }
    }

    #buttons{
        button{
            height: 4vh;
        }
    }
}

#project-master{
    width: 70vw;
    height: fit-content;
    display: flex;
    justify-content: center;

    #projects{
        margin-bottom: 3.5vh;
        margin-top: 3.5vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 735px) {
    p{
        font-size: .5em;
    }

    #projects{

        #project{
            h1{
                font-size: 1em;
            }
        }
    }

    #buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        button{
            width: 90%;
            height: max(8vh, 40px);
            margin-bottom: 0.5em;
            margin-top: 0.5em;
        }	
    }
}



#home{
    display: flex;
    flex-direction: column;
    align-items: center;

    #about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;

        p{
            font-size: 1.7em;
        }
    }

    #worked-with{
        text-align: center;

        

        #brands{
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
        }
    }
    
    #intro{
        min-height: 80vh;
        width: 50%;
        font-size: 2.5em;
        // font-size: 0100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            height: 8em;
            border-radius: .2em;
        }

        p{
            width: 80%;
            text-align: center;
        }

        #buttons{
            button{
                margin-left: 1em;
                margin-right: 1em;
                padding: .5em;
                overflow: hidden;
                font-size: .4em;
            }
        }
    }
}